@use "../base/variables" as v;
.chatroom-list {
  padding: 0px 20px;
  display: flex;
  flex: 1;
  //height: 100%을 하지않은 이유
  //이렇게되면 부모인 layout의 높이를 가지게 됨
  //헤더를 제외한 나머지 부분을 가질 수 없음
  width: 100%;
  overflow: hidden;
  flex-direction: column;
  .chatroom-serch {
    flex-shrink: 0;
    width: 100%;
    height: 50px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    background-color: #fcf6f6c1;
    border-radius: 15px;
    .serch-icon {
      color: v.$gray;
    }
    input {
      font-weight: 600;
      font-size: 15px;
      flex: 1;
      padding-left: 10px;
      border: none;
      background-color: inherit;
    }
  }
  .toggle {
    flex-shrink: 0;
    padding: 30px 0px 20px 0px;
    .toggle-text {
      display: flex;
      & > div {
        flex: 1;
        margin-bottom: 2px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: v.$gray;
        font-weight: 800;
        position: relative; // 자식 dot 위치 기준
      }
      .focus {
        color: v.$purple;
      }
    }
    .toggle-dot {
      position: absolute;
      height: 5px;
      width: 5px;
      border-radius: 50%;
      background-color: v.$purple;
      transition: left 0.3s ease;
    }
  }
  .room-list {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 10px 0px;
    .room-content {
      box-shadow: 0 10px 10px rgba(41, 29, 41, 0.116);
      background-color: white;
      border-radius: 15px;
      width: 99%;
      padding: 15px 25px 15px 20px;
      margin-bottom: 30px;
      display: grid;
      grid-template-areas:
        "image title alarm"
        "image message time";
      // grid-template-columns: 1fr 3fr 1fr;
      grid-template-columns:
        minmax(0, 1fr)
        minmax(0, 3fr)
        minmax(0, 1fr);
      grid-template-rows: repeat(2, 1fr);

      &:hover {
        border: 1px solid #4141412d;
        box-shadow: 0 10px 10px rgba(41, 29, 41, 0.198);
      }

      .img {
        width: 100%;
        aspect-ratio: 1;
        grid-area: image;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          object-fit: cover;
          aspect-ratio: 1;
          border-radius: 100%;
        }
      }
      .header {
        grid-area: title;
        display: flex;
        align-items: end;
        text-align: center;
        padding-left: 15px;

        .name {
          font-size: 18px;
          font-weight: 600;
          display: block;
          white-space: nowrap; /* 줄바꿈 금지 */
          text-overflow: ellipsis; /* ... 처리 */
          overflow: hidden; /* 넘치는 부분 숨김 */
        }
        .person {
          min-width: fit-content;
          margin-left: 5px;
          color: v.$purple;
          font-weight: 800;
          background-color: v.$light_purple;
          border-radius: 10px;
          justify-content: center;
          padding: 2px 15px;
          font-size: 13px;
        }
      }
      .not-read-dot {
        grid-area: alarm;
      }
      .message {
        grid-area: message;
      }
      .time {
        grid-area: time;
        justify-content: end;
      }
      .bottom {
        padding-left: 15px;
        display: flex;
        align-items: center;
        color: v.$dark_gray;
        font-size: 14px;
      }
    }
  }
  .empty {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    color: v.$black;
    font-weight: 700;
  }
}
