@use "../base/variables" as v;
.chat-room {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  // chat-form height == chat-room padding-bottom
  .chat-form {
    background-color: white;
    width: 100%;
    min-height: 90px;
    display: flex;
    align-items: center;
    bottom: 0;
    padding: 0px 30px;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    box-shadow: 2px 0px 15px #a5a5a574;

    .photo {
      padding-right: 20px;
    }
    .text-area,
    .text-area > input {
      background-color: v.$light_purple;
    }
    svg {
      color: v.$purple;
    }
    .text-area {
      border-radius: 20px;
      padding: 10px 10px;
      flex: 1;
      display: flex;
      align-items: center;
      .text-input {
        border: none;
        flex: 1;
        margin: 0px 10px;
      }
      .send-btn {
        padding-right: 10px;
      }
    }
  }
  .chatting-list {
    overflow-y: auto;
    height: 100%;
    padding: 10px 15px 5px 15px;
    & > div {
      margin: 10px 0px;
    }
  }
  .chat {
    display: flex;
    .message {
      padding: 18px;
      border-radius: 15px;
    }
    .content {
      .message {
        position: relative;
        width: fit-content;
        font-weight: 400;
      }
    }
    .time {
      margin-top: 5px;
      color: v.$gray;
    }
  }
  .chat-other {
    .profile {
      flex-shrink: 0;
      width: 50px;
      height: 50px;
      margin-right: 15px;
      img {
        border-radius: 50%;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .message {
      margin-top: 5px;
      border-top-left-radius: 0px;
      background-color: v.$pink;
      &::before {
        content: "";
        position: absolute;
        left: -6px;
        top: 0px;
        width: 0;
        height: 0;
        border-right: 7px solid v.$pink;
        border-bottom: 10px solid transparent;
      }
    }
  }
  .chat-me {
    justify-content: end;
    .message {
      background-color: v.$purple;
      color: white;
      border-top-right-radius: 0px;
      &::after {
        content: "";
        position: absolute;
        right: -6px;
        top: 0px;
        width: 0;
        height: 0;
        border-left: 7px solid v.$purple;
        border-bottom: 10px solid transparent;
      }
    }
    .time {
      display: flex;
      justify-content: end;
    }
  }
  .enterAlarm {
    display: flex;
    justify-content: center;
    background-color: #a5a5a52d;
    border-radius: 10px;
    padding: 4px 0px;
    .message {
      color: rgb(62, 23, 55);
      font-weight: 700;
    }
  }
}
.room-side {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: center;
  top: 0;
  padding: 10px 20px 30px 20px;
  .header {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: start;
    align-items: center;
  }
  .room-info {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .room-profile {
      width: 40%;
      border-radius: 50%;
      overflow: hidden;
      img {
        aspect-ratio: 1/1;
        object-fit: cover;
      }
    }
    .room-name {
      margin-top: 30px;
      font-weight: 700;
      font-size: 20px;
    }
    .room-hashTag {
      margin-top: 10px;
    }
  }
  .participants-list {
    background-color: white;
    border-radius: 20px;
    width: 100%;
    margin: 20px;
    padding: 20px;
    font-size: 16px;
    flex: 1;
    .list-header {
      display: flex;
      padding-bottom: 10px;
      border-bottom: 0.2px solid rgb(126, 126, 126);
      & > div {
        margin-right: 5px;
      }
    }
    .user-info {
      display: flex;
      align-items: center;
      padding: 10px 0px;
      .user-profile {
        width: 40px;
        height: 40px;
        border-radius: 50%;
      }
      .user-name {
        margin-left: 10px;
      }
    }
  }
  .side-room-btn {
    padding: 15px 0px;
    border-radius: 15px;
    width: 100%;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    color: rgb(78, 0, 102);
    background-color: rgb(208, 183, 234);
  }
}
