@use "../base/variables" as v;
$white: #fcfcfcf1;
$font_size: 15px;
$font_color: #2b2b2b;
.create-chatroom {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 0px 20px;
  & * {
    font-size: $font_size;
    color: $font_color;
    font-weight: 600;
  }

  .chatroom-image {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 30px;
    & > label {
      width: 60%;
      aspect-ratio: 4 / 3;
    }
    img {
      width: 100%;
      height: 100%;
      border-radius: 20px;
    }
    input {
      display: none;
    }
  }
  input[type="text"] {
    width: 100%;
    border: none;
    border-radius: 10px;
    margin-bottom: 20px;
    height: 50px;
    padding: 0px 20px;
    background-color: $white;
  }

  .chatroom-select {
    position: relative;
    width: 100%;

    &__trigger {
      width: 100%;
      height: 50px;
      padding: 0 20px;
      text-align: center;

      background-color: $white;
      border: none;
      border-radius: 8px;
      cursor: pointer;
    }

    &__list {
      position: absolute;
      top: calc(100% + 6px);
      left: 0;
      right: 0;

      width: 100%;
      max-height: 200px;
      overflow-y: auto;
      overflow-x: hidden;
      font-weight: 700;

      background: #fff;
      border: 1px solid #ddd;
      border-radius: 8px;
      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);

      z-index: 1000;
    }
    .is-close {
      display: none;
    }
    &__option {
      padding: 10px 12px;
      text-align: center;
      background-color: $white;
      &:hover,
      &:active {
        background: #e8e8e8;
      }
    }
  }
}
