@use "../base/variables" as v;
.chat-room {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
  padding-bottom: 10%;
  // chat-form height == chat-room padding-bottom
  .chat-form {
    width: 100%;
    height: 10%;
    position: fixed;
    display: flex;
    align-items: center;
    bottom: 0;
    padding: 20px 30px;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    box-shadow: 2px 0px 15px #a5a5a574;

    .photo {
      padding-right: 20px;
    }
    .text-area,
    .text-area > input {
      background-color: v.$light_purple;
    }
    svg {
      color: v.$purple;
    }
    .text-area {
      border-radius: 20px;
      padding: 10px 10px;
      flex: 1;
      display: flex;
      align-items: center;
      .text-input {
        border: none;
        flex: 1;
        margin: 0px 10px;
      }
      .send-btn {
        padding-right: 10px;
      }
    }
  }
  .chatting-list {
    overflow-y: auto;
    flex: 1;
    padding: 10px 15px;
  }
  .chat {
    padding-bottom: 20px;
    display: flex;
    .message {
      padding: 18px;
      border-radius: 15px;
    }
    .content {
      .message {
        position: relative;
        width: fit-content;
        font-weight: 400;
      }
    }
    .time {
      margin-top: 5px;
      color: v.$gray;
    }
  }
  .chat-other {
    .profile {
      width: 50px;
      height: 50px;
      margin-right: 15px;
      img {
        border-radius: 50%;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .message {
      margin-top: 5px;
      border-top-left-radius: 0px;
      background-color: v.$pink;
      &::before {
        content: "";
        position: absolute;
        left: -6px;
        top: 0px;
        width: 0;
        height: 0;
        border-right: 7px solid v.$pink;
        border-bottom: 10px solid transparent;
      }
    }
  }
  .chat-me {
    justify-content: end;
    .message {
      background-color: v.$purple;
      color: white;
      border-top-right-radius: 0px;
      &::after {
        content: "";
        position: absolute;
        right: -6px;
        top: 0px;
        width: 0;
        height: 0;
        border-left: 7px solid v.$purple;
        border-bottom: 10px solid transparent;
      }
    }
    .time {
      display: flex;
      justify-content: end;
    }
  }
  .enterAlarm {
    display: flex;
    justify-content: center;
    background-color: #a5a5a52d;
    border-radius: 10px;
    padding: 4px 0px;
    margin: 10px 0px;
    .message {
      color: rgb(62, 23, 55);
      font-weight: 700;
    }
  }
}
