@use "base/variables";
@use "layout/main_layout";
@use "layout/base.scss";
@use "components/headers/default";
@use "pages/chat_room_list";
@use "pages/chat_room_create";

.none {
  display: none !important;
}
.scroll-y-hidden {
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.scroll-y-hidden ::-webkit-scrollbar {
  width: 0;
}
html,
body {
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
