doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="/css/main.css")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" referrerpolicy="no-referrer")
        link(rel="stylesheet" href="https://unpkg.com/scss-reset/reset.css")
        title YE_TALK
        script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js")
        script(src="/socket.io/socket.io.js") 
    body
        main.main_layout
            div.resize_alarm
                span
            div.layout_block
                block layout 
        script(src="/js/layoutTracking.js")
        script(src="/js/utils/navigation.js")
