doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Home
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
    body
        main
            div#room
                div(style="display: flex; align-items: center; gap: 12px;")
                    h3#chat_title
                    span#exit_popup_open_btn 나가기
                div#chat_list
                div#chat_form
                    form
                        input(placeholder="입력하세요...",required,type="text")
                        button 전송
            div#exit_popup(style="display: none;")
                div 채팅방에서 나가시겠습니까?
                div(style="display:flex;")
                    button#cancle_btn 취소
                    button#exit_btn 나가기
        script(src="/socket.io/socket.io.js")
        script(src="/public/js/chat.js")