doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Home
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
    body
        main
            div#createRoom
                form
                    input(placeholder="방 이름",required, type="text")
                    button 생성하기
            div(style="display:flex")
                p 목록
                button#refreshBtn(style="width:200px;") 새로고침
            div#roomList
        script(src="/socket.io/socket.io.js")
        script(src="/public/js/home.js")