extends ../layout/base.pug
block content
    div 
        div 가입하기
        form(method="POST" action="/auth/join")
            div
                img(style="width:100px; height:100px;" src=kakao.profileUrl alt="카카오 프로필")
                input(id="profileUrl" name="profileUrl" type="file" src=kakao.profileUrl)
            div(style="display:none")
                input(id="kakaoId"  name="kakaoId" type ="text" required value=kakao.kakaoId)
            div
                label(for="nickname") 닉네임
                input(id="nickname" name="nickname" type="text" placeholder="닉네임을 입력하세요" required value=kakao.nickname)
            div
                label(for="userId") 아이디
                input(id="userId" name="userId" type="text" placeholder="id를 입력하세요" required)
            button#join-btn 가입하기