.checking-modal {
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.392);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .modal-box {
    background-color: white;
    padding: 30px;
    .content {
      text-align: center;
      margin-bottom: 18px;
    }
    .buttons {
      display: flex;
      justify-content: space-around;
    }
    .modal-btn {
      background-color: rgb(255, 228, 228);
      border-radius: 10px;
      width: 40%;
      aspect-ratio: 2/1;
      text-align: center;
    }
  }
}
