header.header--chatroom-info
    div.left
        svg.header-purple(width="25" height="25" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6")
            path(stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18")
    div.middle
        include ./roomInfoHeader.pug
        div.active
            div.active-dot
            div.active-text Active
    div.right
          svg.header-purple(width="25" height="25" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor")
            path(stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25H12")
    script( src="/js/headers/chatRoomHeader.js")
    