@use "../../base/variables" as v;
.header--chatroom-info {
  color: v.$black;
  padding: 0px 20px;
  display: flex;
  height: 90px;
  align-items: center;
  flex-shrink: 0;
  box-shadow: 0px 0.5px 1px v.$gray;
  .header-purple {
    color: v.$purple;
  }
  .header-text {
    font-weight: 800;
  }
  .left {
    display: flex;
    justify-content: start;
  }
  .middle {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-left: 5px;
    .active {
      display: flex;
      align-items: center;
      padding-left: 15px;
      margin-top: 5px;
      gap: 5px;
      .active-dot {
        width: 5px;
        height: 5px;
        background-color: rgb(9, 133, 0);
        border-radius: 50%;
      }
      .active-text {
        font-size: 14px;
        color: v.$gray;
        font-weight: 600;
      }
    }
  }
  .right {
    display: flex;
    justify-content: end;
  }
}
