extends ../layout/base.pug
block header
    include ../partials/header/createChatRoomHeader.pug
block content
    form.create-chatroom(method="post" action="/chat/create" enctype="multipart/form-data")
        div.chatroom-image
            label.chatroom-image__label(for="room_profile_url")
                img.preview-image(
                src="/img/chat_room_default_img.png",
                alt="default image"
                )
            input.chatroom-image__input(name="roomProfileUrl" id="room_profile_url" type="file" accept="image/*")
        div.input
            input.chatroom-name(
               name="roomName" type="text" required placeholder="Enter chat room name... ")
        div.input
            input.chatroom-tag(name="roomTag" type="text" required placeholder="Enter tags for search... ex. #game #cafe")
        div.input
        div.chatroom-select
            input(type="hidden" name="maxPerson" id="maxPerson" required)
            button.chatroom-select__trigger(type="button") Select participants
            ul.chatroom-select__list.is-close
                - for (let i = 2; i <= 50; i++)
                    li.chatroom-select__option(data-value=i)= i
    button(type="submit" style="display: none;")
    script(src="/js/headers/createChatRoomHeader.js")
    script(src="/js/chat/createChat.js")