block modal
    div.default-modal.none
        div.modal-box
            div.content
            div.buttons
                button.modal-btn.left-btn(type="button") 취소
                button.modal-btn.right-btn(type="button") 확인
    script(type="module" src="/js/modal.js")