block modal
    div.checking-modal.none
        div.modal-box
            div.content
            div.buttons
                button.modal-btn.cancel-btn(type="button") 취소
                button.modal-btn.ok-btn(type="button") 확인
    script(type="module" src="/js/modal.js")